%p.comment-author
  Author:
  = link_to comment.author, comment.author_url

%p.comment-date
  Date:
  = comment.created_at.strftime('%b %d,%y')

%hr

%p.comment-content
  = comment.content

.comment-controls
  - if policy(comment).approval?
    - #pry
    - if comment.approved?
      = link_to 'Unapprove', article_comment_path(@article, comment, params: { comment: { approved: false }}), method: :patch, class: 'button'

    - else
      = link_to 'Approve', article_comment_path(@article, comment, params: { comment: { approved: true }}), method: :patch, class: 'button'
