%b.comment-header Create Comment
= form_for([@article, @comment]) do |f|
  %fieldset.comment-inputs
    - if @comment.errors.any?
      #error_explaination
        %h2= pluralize(@comment.errors.count, 'error')
      %ul#comment-form
        - @comment.errors.full_message.each do |message|
          %li= message

    .field
      = f.label :author
      = f.text_field :author

    .field
      = f.label :author_email, "Email"
      = f.text_field :author_email

    .field
      = f.label :author_url, "Website"
      = f.text_field :author_url

    .field
      = f.label :content
      = f.text_area :content

    .actions
      = f.submit
