.article{id: "article-#{article.id}"}
  %h3.article-title
    %span.article-title-text
      - if action_name == 'show'
        = article.title
      - else
        = link_to article.title, article_path(article)

  %p.article-body
    = article.body
  <br />

  - if policy(Article).edit?
    %b.status
      Status:
      = article.published? ? 'Published' : 'Unpublished'

  - if action_name == 'show'
    .article-controls
      - if policy(Article).edit?
        = link_to 'Edit', edit_article_path(article), class: 'button'
      - if policy(Article).destroy?
        = link_to 'Destroy', @article, method: :delete, class: 'button'

  - if action_name == 'index' || 'update'
    .article-controls
      - if policy(Article).edit?
        = link_to 'Edit', edit_article_path(article), remote: true, class: 'button'
      - if policy(Article).destroy?
        = link_to 'Destroy', article, method: :delete, remote: true, class: 'button'

