
  <% if @article.errors.any? %>
    <div id="form-flash-error">
      <h5 class="error-heading">Uh oh! Please fix errors:</h5>
      </div>
  <% end %>

<%= form_for(@article) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <div class="form-error">
      <%= @article.errors[:title][0] %>
    </div>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <div class="form-error">
      <%= @article.errors[:body][0] %>
    </div>
    <%= f.text_area :body %>
  </div>

  <div class="status">
    <b>Status: </b>
    <%= @article.published? ? 'Published' : 'Unpublished' %>
  </div>

  <% if policy(@article).publish? %>
    <div class="field">
      <%= f.label :published, class: 'label-check' %>
      <%= f.check_box :published %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
