<h2>My Portfolio</h2>

<ul>
  <% @projects.each do |project| %>
    <li class="project" id="<% dom_id(project) %>">
      <h3><%= project.name %></h3>
      <p>Technologies Used: <%= project.technologies %></p>
      <%= link_to 'Show', project %> |
      <%= link_to 'Edit', edit_project_path(project) %>
    </li>
  <% end %>
</ul>

<br />
<%= link_to 'New Project', new_project_path %>

